.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.repoName {
    margin: 0 0 0.5rem;
    color: #8c43ff;
}

.repoDescription {
    font-size: 0.9rem;
    color: #666;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.repoStats {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: bold;
}

.repoStats span {
    color: #666;
}